Repository mia-platform/design-system, pull requests merged in 2024-03, with the labels that each got.

#365 Fix/vite-config
  tsconfig.json
  vite.config.ts
Labels: technical debt

#350 feat(#349): modal isMaskClosable prop
  src/components/Modal/Modal.props.ts
  src/components/Modal/Modal.tsx
Labels: enhancement, Modal component

#379 fix: menu style on inline mode
  src/components/Menu/Menu.module.css
  src/components/Menu/Menu.tsx
  src/components/Menu/__snapshots__/Menu.test.tsx.snap
Labels: bug, Menu component

#388 Exposed types in NPM bundle
  package.json
Labels: enhancement

#395 fix: small and large modal width and height updated
  src/components/Modal/Modal.module.css
Labels: enhancement, Modal component

#396 feat(IDP-561): Table Actions Columns
  src/components/Table/Table.Action.tsx
  src/components/Table/Table.mocks.tsx
  src/components/Table/Table.module.css
  src/components/Table/Table.props.ts
  src/components/Table/Table.stories.tsx
  src/components/Table/Table.test.tsx
  src/components/Table/Table.tsx
  src/components/Table/Table.types.ts
  src/components/Table/__snapshots__/Table.test.tsx.snap
Labels: enhancement, Table component
