Repository mia-platform/design-system, pull requests merged in 2024-12, with the labels that each got.

#731 feat(CardSelection): Added CardSelection component
  src/components/CardSelection/CardSelection.module.css
  src/components/CardSelection/CardSelection.stories.tsx
  src/components/CardSelection/CardSelection.test.tsx
  src/components/CardSelection/CardSelection.tsx
  src/components/CardSelection/__snapshots__/CardSelection.test.tsx.snap
  src/components/CardSelection/index.ts
  src/components/CardSelection/props.ts
  src/components/CardSelection/types.ts
  src/components/Checkbox/Checkbox.tsx
  src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  src/components/Checkbox/checkbox.module.css
  src/components/Checkbox/props.ts
  src/components/CheckboxGroup/CheckboxGroup.test.tsx
  src/components/CheckboxGroup/__snapshots__/CheckboxGroup.test.tsx.snap
  src/components/Input/__snapshots__/Input.test.tsx.snap
  src/components/RadioGroup/RadioGroup.tsx
  src/components/RadioGroup/__snapshots__/RadioGroup.test.tsx.snap
  src/components/RadioGroup/components/Radio/__snapshots__/index.test.tsx.snap
  src/components/RadioGroup/components/Radio/index.module.css
  src/components/RadioGroup/components/Radio/index.tsx
  src/components/RadioGroup/props.ts
  src/index.ts
Labels: bug, new component, CardSelection Component

#725 feat(Input): added custom names for input addon
  src/components/Input/Input.stories.tsx
  src/components/Input/Input.test.tsx
  src/components/Input/Input.tsx
  src/components/Input/InputAddon.tsx
  src/components/Input/props.ts
  src/utils/object.ts
Labels: enhancement, Input component

#734 feat(Form): form implementation
  src/components/Checkbox/Checkbox.tsx
  src/components/Checkbox/props.ts
  src/components/Form/Form.stories.tsx
  src/components/Form/Form.test.tsx
  src/components/Form/Form.tsx
  src/components/Form/FormItem/FormItem.stories.tsx
  src/components/Form/FormItem/FormItem.test.tsx
  src/components/Form/FormItem/FormItem.tsx
  src/components/Form/FormItem/__snapshots__/FormItem.test.tsx.snap
  src/components/Form/SubitButton/SubmitButton.test.tsx
  src/components/Form/SubitButton/SubmitButton.tsx
  src/components/Form/SubitButton/__snapshots__/SubmitButton.test.tsx.snap
  src/components/Form/Validators/index.test.ts
  src/components/Form/Validators/index.ts
  src/components/Form/__snapshots__/Form.test.tsx.snap
  src/components/Form/index.ts
  src/components/Form/props.ts
  src/components/Form/rfc.md
  src/components/Form/types.ts
  src/components/Input/Input.tsx
  src/components/Input/props.ts
  src/components/InputNumber/InputNumber.tsx
  src/components/InputNumber/props.ts
  src/components/Search/Search.tsx
  src/components/Search/__snapshots__/Search.test.tsx.snap
  src/components/Search/props.ts
  src/components/Select/Select.tsx
  src/components/Select/props.ts
  src/components/Switch/Switch.props.ts
  src/components/Switch/Switch.tsx
  src/components/TextArea/TextArea.tsx
  src/components/TextArea/props.ts
  src/index.ts
Labels: new component

#760 feat: add Feedback component
  src/components/Feedback/Feedback.module.css
  src/components/Feedback/Feedback.props.ts
  src/components/Feedback/Feedback.stories.tsx
  src/components/Feedback/Feedback.test.tsx
  src/components/Feedback/Feedback.tsx
  src/components/Feedback/Feedback.types.ts
  src/components/Feedback/__snapshots__/Feedback.test.tsx.snap
  src/components/Feedback/index.ts
  src/index.ts
Labels: enhancement, new component, Feedback component

#762 fix(Feedback): fixed icon size
  src/components/Feedback/Feedback.module.css
  src/components/Feedback/Feedback.tsx
  src/components/Feedback/__snapshots__/Feedback.test.tsx.snap
Labels: bug, Feedback component

#766 Fix(Icon): Added antd icons to build-icons script
  scripts/build-icons.ts
Labels: bug, Icon component

#767 feat: add Badge component
  src/components/Badge/Badge.module.css
  src/components/Badge/Badge.props.ts
  src/components/Badge/Badge.stories.tsx
  src/components/Badge/Badge.test.tsx
  src/components/Badge/Badge.tsx
  src/components/Badge/__snapshots__/Badge.test.tsx.snap
  src/components/Badge/index.ts
  src/index.ts
Labels: enhancement, new component, Badge component

#769 feat(Feedback): replaced custom badge with Badge component
  src/components/Feedback/Feedback.module.css
  src/components/Feedback/Feedback.props.ts
  src/components/Feedback/Feedback.stories.tsx
  src/components/Feedback/Feedback.test.tsx
  src/components/Feedback/Feedback.tsx
  src/components/Feedback/__snapshots__/Feedback.test.tsx.snap
Labels: enhancement, Feedback component

#773 fix(Card): fixed overflow on header
  src/components/Card/Card.module.css
Labels: bug, Card component

#778 fix(Feedback): accept ReactNode for title and description
  src/components/Feedback/Feedback.tsx
  src/components/Feedback/feedback.module.css
  src/components/Feedback/props.ts
  src/components/Feedback/types.ts
  src/components/Form/FormItem/FormItem.test.tsx
Labels: bug, Feedback component

#780 fix(Badge): removed tooltip style from Badge
  src/components/Badge/Badge.module.css
  src/components/Badge/Badge.tsx
Labels: bug, Badge component

#781 fix(Feedback): fixed style to prevent overflow errors
  src/components/Feedback/Feedback.tsx
  src/components/Feedback/feedback.module.css
Labels: bug, Feedback component

#774 fix(CardSelection): fixed horizontal icon displaying
  src/components/CardSelection/CardSelection.module.css
  src/components/CardSelection/CardSelection.tsx
  src/components/CardSelection/__snapshots__/CardSelection.test.tsx.snap
Labels: bug, CardSelection Component

#782 fix(Checkbox): centered text content
  src/components/Checkbox/checkbox.module.css
Labels: bug, Checkbox component
