Repository mia-platform/design-system, pull requests merged in 2024-06, with the labels that each got.

#474 feat: enums as components properties
  src/components/Button/Button.stories.tsx
  src/components/Button/Button.test.tsx
  src/components/Button/Button.tsx
  src/components/Card/Card.mocks.tsx
  src/components/Card/Card.tsx
  src/components/Divider/Divider.stories.tsx
  src/components/Divider/Divider.test.tsx
  src/components/Divider/Divider.tsx
  src/components/FeedbackMessage/FeedbackMessage.stories.tsx
  src/components/Menu/Menu.stories.tsx
  src/components/Menu/Menu.test.tsx
  src/components/Menu/Menu.tsx
  src/components/Modal/Modal.Title.tsx
  src/components/Modal/Modal.mocks.tsx
  src/components/Modal/Modal.stories.tsx
  src/components/Modal/Modal.test.tsx
  src/components/Modal/Modal.tsx
  src/components/SegmentedControl/SegmentedControl.stories.tsx
  src/components/SegmentedControl/SegmentedControl.test.tsx
  src/components/SegmentedControl/SegmentedControl.tsx
  src/components/Table/Table.Action.tsx
  src/components/Table/Table.mocks.tsx
  src/components/Table/Table.stories.tsx
  src/components/Table/Table.test.tsx
  src/components/Table/Table.tsx
  src/components/Typography/BodyX/BodyL/index.tsx
  src/components/Typography/BodyX/BodyM/index.tsx
  src/components/Typography/BodyX/BodyS/index.tsx
  src/components/Typography/BodyX/BodyX.stories.tsx
  src/components/Typography/BodyX/BodyX.tsx
  src/hooks/useFeedbackMessage/useFeedbackMessage.test.tsx
  src/hooks/useFeedbackMessage/useFeedbackMessage.tsx
Labels: enhancement

#478 Feat(IDP-1314); fix collapse menuitem
  .eslintrc.cjs
  package.json
  src/components/Button/__snapshots__/Button.test.tsx.snap
  src/components/Card/__snapshots__/Card.test.tsx.snap
  src/components/Icon/Icon.tsx
  src/components/Icon/__snapshots__/Icon.test.tsx.snap
  src/components/Menu/Menu.module.css
  src/components/Menu/Menu.tsx
  src/components/Menu/Menu.utils.test.tsx
  src/components/Menu/Menu.utils.tsx
  src/components/Menu/__snapshots__/Menu.test.tsx.snap
  src/components/Modal/__snapshots__/Modal.test.tsx.snap
  src/components/SegmentedControl/__snapshots__/SegmentedControl.test.tsx.snap
  src/components/Table/Table.mocks.tsx
  src/components/Table/__snapshots__/Table.test.tsx.snap
  src/components/Typography/BodyX/__snapshots__/BodyX.test.tsx.snap
  src/components/Typography/HX/__snapshots__/HX.test.tsx.snap
  src/hooks/useModal/useModal.test.tsx
  yarn.lock
Labels: bug, Menu component, Icon component

#476 feat(themeProvider): add unit to css variables
  src/components/Button/Button.module.css
  src/components/Card/Card.module.css
  src/components/FeedbackMessage/FeedbackMessage.module.css
  src/components/Menu/Menu.module.css
  src/components/Modal/Modal.module.css
  src/components/SegmentedControl/SegmentedControl.module.css
  src/components/Table/Table.module.css
  src/components/ThemeProvider/utils/__tests__/__snapshots__/themeToVariables.test.ts.snap
  src/components/ThemeProvider/utils/themeToVariables.ts
  src/components/Typography/BodyX/BodyX.module.css
  src/hooks/useFeedbackMessage/useFeedbackMessage.module.css
Labels: breaking, ThemeProvider component

#484 fix(modal): Fix useModal rerender issue on children change
  package.json
  src/hooks/useModal/useModal.test.tsx
  src/hooks/useModal/useModal.tsx
Labels: bug, Modal component

#492 Fix: menu component grouping
  package.json
  src/components/Button/__snapshots__/Button.test.tsx.snap
  src/components/Menu/Menu.mocks.tsx
  src/components/Menu/Menu.module.css
  src/components/Menu/Menu.props.ts
  src/components/Menu/Menu.tsx
  src/components/Menu/Menu.types.ts
  src/components/Menu/Menu.utils.test.tsx
  src/components/Menu/Menu.utils.tsx
  src/components/Menu/__snapshots__/Menu.test.tsx.snap
  src/components/Modal/__snapshots__/Modal.test.tsx.snap
  src/components/Table/__snapshots__/Table.test.tsx.snap
  yarn.lock
Labels: bug, Menu component

#464 feat: add Breadcrumb component
  package.json
  src/components/Breadcrumb/Breadcrumb.Collapsed.tsx
  src/components/Breadcrumb/Breadcrumb.Dropdown.tsx
  src/components/Breadcrumb/Breadcrumb.Item.tsx
  src/components/Breadcrumb/Breadcrumb.Separator.tsx
  src/components/Breadcrumb/Breadcrumb.mocks.tsx
  src/components/Breadcrumb/Breadcrumb.module.css
  src/components/Breadcrumb/Breadcrumb.props.ts
  src/components/Breadcrumb/Breadcrumb.stories.tsx
  src/components/Breadcrumb/Breadcrumb.test.tsx
  src/components/Breadcrumb/Breadcrumb.tsx
  src/components/Breadcrumb/Breadcrumb.types.ts
  src/components/Breadcrumb/Breadcrumb.utils.tsx
  src/components/Breadcrumb/__snapshots__/Breadcrumb.test.tsx.snap
  src/components/Breadcrumb/assets/caret-full-down.svg
  src/components/Breadcrumb/index.ts
  src/index.ts
  tsconfig.json
  yarn.lock
Labels: enhancement, new component, Breadcrumb component
