Repository mia-platform/design-system, pull requests merged in 2024-11, with the labels that each got.

#668 feat(Card, Dropdown, Modal): update docLink icon color
  src/components/Card/Card.tsx
  src/components/Card/__snapshots__/Card.test.tsx.snap
  src/components/Drawer/Drawer.Title.tsx
  src/components/Modal/Modal.Title.tsx
  src/components/Modal/__snapshots__/Modal.test.tsx.snap
Labels: enhancement, Card component, Modal component, Dropdown component

#700 fix(Modal): aside height calculated incorrectly
  .storybook/preview.ts
  .storybook/reset.css
  src/components/Modal/Modal.module.css
  src/components/Modal/Modal.stories.tsx
Labels: bug, Modal component, Storybook

#692 fix(radio): added value prop to control Radio Group from wrapper comp…
  src/components/RadioGroup/RadioGroup.stories.tsx
  src/components/RadioGroup/RadioGroup.tsx
  src/components/RadioGroup/components/Radio/index.module.css
  src/components/RadioGroup/props.ts
Labels: bug, RadioGroup Component

#701 feat(checkbox): Added Checkbox and CheckboxGroup
  src/components/Checkbox/Checkbox.stories.tsx
  src/components/Checkbox/Checkbox.test.tsx
  src/components/Checkbox/Checkbox.theme.ts
  src/components/Checkbox/Checkbox.tsx
  src/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  src/components/Checkbox/checkbox.module.css
  src/components/Checkbox/index.ts
  src/components/Checkbox/props.ts
  src/components/CheckboxGroup/CheckboxGroup.module.css
  src/components/CheckboxGroup/CheckboxGroup.stories.tsx
  src/components/CheckboxGroup/CheckboxGroup.test.tsx
  src/components/CheckboxGroup/CheckboxGroup.tsx
  src/components/CheckboxGroup/__snapshots__/CheckboxGroup.test.tsx.snap
  src/components/CheckboxGroup/index.ts
  src/components/CheckboxGroup/props.ts
  src/components/ThemeProvider/Ant.tsx
  src/components/ThemeProvider/__tests__/__snapshots__/Ant.test.tsx.snap
  src/index.ts
Labels: new component, Checkbox component, CheckboxGroup component

#710 fix(Dropdown/Divider): divider color and margins
  src/components/Divider/Divider.theme.ts
  src/components/Dropdown/Dropdown.tsx
  src/components/Dropdown/dropdown.module.css
  src/components/ThemeProvider/__tests__/__snapshots__/Ant.test.tsx.snap
Labels: bug, Dropdown component, Divider component

#707 feat(Dropdown): add placement prop
  src/components/Dropdown/Dropdown.stories.tsx
  src/components/Dropdown/Dropdown.tsx
  src/components/Dropdown/props.ts
  src/components/Dropdown/types.tsx
Labels: enhancement, Dropdown component

#709 Feat(Input): Implemented addons on text input
  .eslintrc.cjs
  src/components/BaseInput/BaseInput.theme.ts
  src/components/Input/Input.stories.tsx
  src/components/Input/Input.test.tsx
  src/components/Input/Input.tsx
  src/components/Input/InputAddon.tsx
  src/components/Input/__snapshots__/Input.test.tsx.snap
  src/components/Input/input.module.css
  src/components/Input/props.ts
  src/components/Input/types.ts
  src/components/Search/__snapshots__/Search.test.tsx.snap
  src/components/Select/Select.tsx
  src/components/Select/__snapshots__/Select.test.tsx.snap
  src/components/Select/props.ts
  src/components/ThemeProvider/__tests__/__snapshots__/Ant.test.tsx.snap
Labels: enhancement, Input component

#711 Fix(Select): fix merge in Select.test.tsx
  src/components/Select/Select.test.tsx
Labels: Select component

#716 fix(Button): icon is centered and aligned with the label
  src/components/Button/Button.module.css
Labels: bug, Button component

#717 fix(Modal): fixed bodyFullWidth behavior
  src/components/Modal/Modal.module.css
Labels: bug, Modal component

#729 feat(Alert): Added Alert component
  src/assets/icons/CheckCircle.svg
  src/assets/icons/ExclamationCircle.svg
  src/assets/icons/ICircle.svg
  src/assets/icons/XCircle.svg
  src/components/Alert/Alert.module.css
  src/components/Alert/Alert.stories.tsx
  src/components/Alert/Alert.test.tsx
  src/components/Alert/Alert.tsx
  src/components/Alert/__snapshots__/Alert.test.tsx.snap
  src/components/Alert/index.ts
  src/components/Alert/props.ts
  src/components/Alert/types.ts
  src/index.ts
Labels: new component

#732 fix(Button): removed outline and box shadow for ghost and link
  src/components/Button/Button.module.css
Labels: bug, Button component

#733 Fix(Alert): Using phosphor icons in both default and compressed variants
  src/components/Alert/Alert.module.css
  src/components/Alert/Alert.tsx
  src/components/Alert/__snapshots__/Alert.test.tsx.snap
Labels: bug
