Repository mia-platform/design-system, pull requests merged in 2024-10, with the labels that each got.

#636 feat(dropdown): icon support for menu labels
  src/components/Dropdown/Dropdown.stories.tsx
  src/components/Dropdown/components/Label/index.test.tsx
  src/components/Dropdown/components/Label/index.tsx
  src/components/Dropdown/props.ts
Labels: enhancement, Dropdown component

#638 fix(dropdown): reset box-shadow when footer is appended
  src/components/Dropdown/dropdown.module.css
Labels: bug, Dropdown component

#639 fix(Dropdown): better classname to prevent class leading with 0 char
  src/components/Dropdown/Dropdown.tsx
Labels: bug, Dropdown component

#637 feat(Icons): add custom icons
  src/assets/icons/Application.svg
  src/assets/icons/Microservice.svg
  src/assets/icons/Proxy.svg
  src/assets/icons/Sidecar.svg
  src/assets/icons/icons.stories.mdx
Labels: enhancement, Icon component

#640 feat(Dropdown): menu max height controllable with `menuItemsMaxHeight` prop
  src/components/Dropdown/Dropdown.stories.tsx
  src/components/Dropdown/Dropdown.tsx
  src/components/Dropdown/dropdown.module.css
  src/components/Dropdown/props.ts
  src/themes/schema/shape.ts
Labels: enhancement, Dropdown component

#667 fix(Dropdown): `width: fit-content` attached to the menu instead of the dropdown
  src/components/Dropdown/dropdown.module.css
Labels: bug, Dropdown component

#674 feat(Modal): scrollbar on content instead of body, and better padding to not render scrollbars attached to content
  src/components/Modal/Modal.Body.tsx
  src/components/Modal/Modal.module.css
  src/components/Modal/__snapshots__/Modal.test.tsx.snap
Labels: Modal component

#683 feat(Switch): added Switch component
  src/components/Switch/Switch.module.css
  src/components/Switch/Switch.props.ts
  src/components/Switch/Switch.stories.tsx
  src/components/Switch/Switch.test.tsx
  src/components/Switch/Switch.theme.ts
  src/components/Switch/Switch.tsx
  src/components/Switch/Switch.types.ts
  src/components/Switch/__snapshots__/Switch.test.tsx.snap
  src/components/Switch/index.ts
  src/components/ThemeProvider/Ant.tsx
  src/components/ThemeProvider/__tests__/__snapshots__/Ant.test.tsx.snap
  src/index.ts
Labels: enhancement, Switch component

#681 feat(RadioGroup): Added RadioGroup component
  package.json
  src/components/RadioGroup/RadioGroup.module.css
  src/components/RadioGroup/RadioGroup.stories.tsx
  src/components/RadioGroup/RadioGroup.test.tsx
  src/components/RadioGroup/RadioGroup.tsx
  src/components/RadioGroup/__snapshots__/RadioGroup.test.tsx.snap
  src/components/RadioGroup/components/Radio/__snapshots__/index.test.tsx.snap
  src/components/RadioGroup/components/Radio/index.module.css
  src/components/RadioGroup/components/Radio/index.test.tsx
  src/components/RadioGroup/components/Radio/index.theme.ts
  src/components/RadioGroup/components/Radio/index.tsx
  src/components/RadioGroup/index.ts
  src/components/RadioGroup/props.ts
  src/components/ThemeProvider/Ant.tsx
  src/components/ThemeProvider/__tests__/__snapshots__/Ant.test.tsx.snap
  src/index.ts
Labels: new component, RadioGroup Component

#686 fix(Switch): adjusted handle shadow
  src/components/Switch/Switch.module.css
  src/components/Switch/Switch.theme.ts
  src/components/Switch/Switch.tsx
  src/components/ThemeProvider/__tests__/__snapshots__/Ant.test.tsx.snap
Labels: bug, Switch component

#687 fix(radio): storybook improvements
  src/components/RadioGroup/RadioGroup.stories.tsx
  src/components/RadioGroup/components/Radio/index.module.css
  src/components/RadioGroup/props.ts
Labels: documentation, RadioGroup Component

#688 fix(Switch): resolve Switch animation issues on storybook
  src/components/Switch/Switch.stories.tsx
Labels: bug, Storybook

#689 chore: updated testing-library v16
  package.json
  src/components/Dropdown/Dropdown.test.tsx
  src/components/Dropdown/components/Footer/index.test.tsx
  src/components/RadioGroup/RadioGroup.test.tsx
  src/components/Select/Select.test.tsx
  src/components/Switch/Switch.test.tsx
  src/components/Tag/Tag.test.tsx
  src/hooks/useModal/useModal.test.tsx
  yarn.lock
Labels: dependencies

#690 fix(Input): minor styling fixes and storybook refactoring
  src/components/BaseInput/BaseInput.theme.ts
  src/components/BaseInput/baseInput.module.css
  src/components/Input/Input.stories.tsx
  src/components/InputNumber/InputNumber.stories.tsx
  src/components/Search/Search.stories.tsx
  src/components/Search/Search.tsx
  src/components/Search/__snapshots__/Search.test.tsx.snap
  src/components/Search/search.module.css
  src/components/Select/Select.stories.tsx
  src/components/Select/Select.tsx
  src/components/Select/select.module.css
  src/components/TextArea/TextArea.stories.tsx
  src/components/ThemeProvider/Ant.tsx
  src/components/ThemeProvider/__tests__/__snapshots__/Ant.test.tsx.snap
Labels: Storybook, Input component, Select component, Search component, InputNumber component

#691 update(documentation): improved PR labelling documentation
  .github/pull_request_template.md
  CONTRIBUTING.md
Labels: documentation
