Repository mia-platform/design-system, pull requests merged in 2024-07, with the labels that each got.

#517 fix: theme generator tokens and recursive resolution
  src/components/ThemeProvider/utils/__tests__/__snapshots__/themeToVariables.test.ts.snap
  src/themes/files/dark/primitives.json
  src/themes/files/dark/theme.json
  src/themes/files/light/primitives.json
  src/themes/files/light/theme.json
  src/themes/utils/__tests__/__snapshots__/generateTheme.test.ts.snap
  src/themes/utils/__tests__/generateTheme.test.ts
  src/themes/utils/generateTheme.ts
  src/themes/utils/mocks/primitives.json
  src/themes/utils/mocks/theme-generator-with-error.json
Labels: bug

#524 fix: table actions allows for action.onClick to control icon
  src/components/Table/Table.test.tsx
  src/components/Table/Table.tsx
  src/components/Table/Table.types.ts
Labels: bug, Table component

#528 fix: table action optional icon
  src/components/Table/Table.stories.tsx
  src/components/Table/Table.tsx
  src/components/Table/Table.types.ts
Labels: bug, Table component

#531 feat(button): added title prop
  src/components/Button/Button.props.ts
  src/components/Button/Button.test.tsx
  src/components/Button/Button.tsx
Labels: enhancement, Button component

#534 fix: removed button box shadow
  src/components/Button/Button.module.css
Labels: Button component

#532 feat: drawer footer standard props and some improvements
  src/components/Drawer/Drawer.Footer.tsx
  src/components/Drawer/Drawer.Title.tsx
  src/components/Drawer/Drawer.mocks.tsx
  src/components/Drawer/Drawer.module.css
  src/components/Drawer/Drawer.props.ts
  src/components/Drawer/Drawer.stories.tsx
  src/components/Drawer/Drawer.test.tsx
  src/components/Drawer/Drawer.tsx
  src/components/Drawer/Drawer.types.ts
  src/components/Drawer/__snapshots__/Drawer.test.tsx.snap
Labels: Drawer component

#535 feat(button): Add block prop
  package.json
  src/components/Button/Button.props.ts
  src/components/Button/Button.stories.tsx
  src/components/Button/Button.test.tsx
  src/components/Button/Button.tsx
  src/components/Button/__snapshots__/Button.test.tsx.snap
Labels: enhancement, Button component

#537 feat(tag): added tag component
  src/components/Tag/Tag.props.ts
  src/components/Tag/Tag.stories.tsx
  src/components/Tag/Tag.test.tsx
  src/components/Tag/Tag.tsx
  src/components/Tag/__snapshots__/Tag.test.tsx.snap
  src/components/Tag/index.ts
  src/index.ts
Labels: enhancement, Tag component

#544 Feat/dia 60 update theme and tokens
  src/components/Card/__snapshots__/Card.test.tsx.snap
  src/components/Modal/__snapshots__/Modal.test.tsx.snap
  src/components/ThemeProvider/Ant.tsx
  src/components/ThemeProvider/__tests__/__snapshots__/Ant.test.tsx.snap
  src/components/ThemeProvider/utils/__tests__/__snapshots__/themeToVariables.test.ts.snap
  src/themes/files/dark/primitives.json
  src/themes/files/dark/theme-generator.json
  src/themes/files/dark/theme.json
  src/themes/files/light/primitives.json
  src/themes/files/light/theme-generator.json
  src/themes/files/light/theme.json
  src/themes/scripts/updateThemes.ts
  src/themes/utils/__tests__/__snapshots__/generateTheme.test.ts.snap
  src/themes/utils/generateTheme.ts
  src/themes/utils/mocks/primitives.json
  src/themes/utils/mocks/theme-generator-recursive.json
  src/themes/utils/mocks/theme-generator-referring-to-only-primitives.json
Labels: ThemeProvider component

#547 Added type link to Button component
  src/components/Button/Button.module.css
  src/components/Button/Button.props.ts
  src/components/Button/Button.stories.tsx
  src/components/Button/Button.test.tsx
  src/components/Button/Button.tsx
  src/components/Button/Button.types.ts
  src/components/Button/__snapshots__/Button.test.tsx.snap
Labels: enhancement, Button component

#545 fix(Icon): color prop defaults to "currentColor"
  src/components/Breadcrumb/__snapshots__/Breadcrumb.test.tsx.snap
  src/components/Button/Button.stories.tsx
  src/components/Icon/Icon.tsx
  src/components/Icon/__snapshots__/Icon.test.tsx.snap
  src/components/SegmentedControl/__snapshots__/SegmentedControl.test.tsx.snap
Labels: enhancement, Icon component, breaking

#551 fix(theme): fixed palette-success-100 token
  src/components/ThemeProvider/utils/__tests__/__snapshots__/themeToVariables.test.ts.snap
  src/themes/files/dark/primitives.json
  src/themes/files/dark/theme.json
  src/themes/files/light/primitives.json
  src/themes/files/light/theme.json
Labels: bug, ThemeProvider component

#554 feat(Table): added rowState prop
  src/components/Table/Table.mocks.tsx
  src/components/Table/Table.module.css
  src/components/Table/Table.props.ts
  src/components/Table/Table.stories.tsx
  src/components/Table/Table.test.tsx
  src/components/Table/Table.tsx
  src/components/Table/Table.types.ts
  src/components/Table/__snapshots__/Table.test.tsx.snap
Labels: enhancement, Table component

#557 feat: update theme, HX components now have updated colors
  src/components/Card/__snapshots__/Card.test.tsx.snap
  src/components/Drawer/__snapshots__/Drawer.test.tsx.snap
  src/components/Modal/__snapshots__/Modal.test.tsx.snap
  src/components/ThemeProvider/utils/__tests__/__snapshots__/themeToVariables.test.ts.snap
  src/components/Typography/HX/HX.module.css
  src/components/Typography/HX/HX.tsx
  src/components/Typography/HX/__snapshots__/HX.test.tsx.snap
  src/themes/files/dark/primitives.json
  src/themes/files/dark/theme-generator.json
  src/themes/files/dark/theme.json
  src/themes/files/light/primitives.json
  src/themes/files/light/theme-generator.json
  src/themes/files/light/theme.json
Labels: enhancement, Typography component, breaking

#560 fix(Breadcrumb): fixed dropdown scroll
  src/components/Breadcrumb/Breadcrumb.mocks.tsx
  src/components/Breadcrumb/Breadcrumb.module.css
Labels: bug, Breadcrumb component
