Repository mia-platform/design-system, pull requests merged in 2024-05, with the labels that each got.

#458 chore(pkg): updated Yarn from 3.6.1 to 4.2.2
  .gitignore
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/releases/yarn-3.6.1.cjs
  .yarn/releases/yarn-4.2.2.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Labels: dependencies

#457 feat(DIA-60): Modified color tokens
  src/components/ThemeProvider/__tests__/__snapshots__/Ant.test.tsx.snap
  src/components/ThemeProvider/utils/__tests__/__snapshots__/themeToVariables.test.ts.snap
  src/themes/files/light/primitives.json
  src/themes/files/light/theme.json
  src/themes/utils/__tests__/__snapshots__/generateTheme.test.ts.snap
Labels: enhancement, ThemeProvider component

#462 feat(table): added React event as parameter in actions onClick callback
  src/components/Table/Table.Action.tsx
  src/components/Table/Table.props.ts
  src/components/Table/Table.test.tsx
  src/components/Table/Table.types.ts
Labels: enhancement, Table component

#461 feat(modal): expose getContainer and destroyOnClose props
  src/components/Modal/Modal.props.ts
  src/components/Modal/Modal.tsx
Labels: enhancement, Modal component

#460 feat(pkg): switch to lodash-es from lodash per method packages
  jest.config.js
  package.json
  src/components/Table/Table.mocks.tsx
  src/components/ThemeProvider/utils/themeToVariables.ts
  src/themes/utils/generateTheme.ts
  yarn.lock
Labels: dependencies

#459 feat: removed components defaultProps
  src/components/Button/Button.stories.tsx
  src/components/Button/Button.tsx
  src/components/Card/Card.stories.tsx
  src/components/Card/Card.tsx
  src/components/Divider/Divider.stories.tsx
  src/components/Divider/Divider.tsx
  src/components/Icon/Icon.stories.tsx
  src/components/Icon/Icon.tsx
  src/components/Menu/Menu.stories.tsx
  src/components/Menu/Menu.tsx
  src/components/Modal/Modal.stories.tsx
  src/components/Modal/Modal.tsx
  src/components/SegmentedControl/SegmentedControl.stories.tsx
  src/components/SegmentedControl/SegmentedControl.tsx
  src/components/Table/Table.stories.tsx
  src/components/Table/Table.tsx
  src/components/ThemeProvider/ThemeProvider.tsx
  src/components/Typography/BodyX/BodyX.stories.tsx
  src/components/Typography/BodyX/BodyX.tsx
  src/components/Typography/HX/HX.stories.tsx
  src/components/Typography/HX/HX.tsx
Labels: refactor
