Repository mia-platform/design-system, pull requests merged in 2024-08, with the labels that each got.

#563 feat: Tree component
  src/components/ThemeProvider/Ant.tsx
  src/components/ThemeProvider/__tests__/__snapshots__/Ant.test.tsx.snap
  src/components/ThemeProvider/utils/__tests__/__snapshots__/themeToVariables.test.ts.snap
  src/components/Tree/Tree.module.css
  src/components/Tree/Tree.props.ts
  src/components/Tree/Tree.stories.tsx
  src/components/Tree/Tree.test.tsx
  src/components/Tree/Tree.theme.ts
  src/components/Tree/Tree.tsx
  src/components/Tree/__snapshots__/Tree.test.tsx.snap
  src/components/Tree/index.ts
  src/index.ts
  src/themes/files/dark/primitives.json
  src/themes/files/dark/theme.json
  src/themes/files/light/primitives.json
  src/themes/files/light/theme.json
  src/themes/schema/palette.ts
Labels: enhancement, new component, Tree component

#571 feat(dropdown): vertical layout for dropdown labels
  src/components/Dropdown/Dropdown.stories.tsx
  src/components/Dropdown/Dropdown.tsx
  src/components/Dropdown/__snapshots__/Dropdown.test.tsx.snap
  src/components/Dropdown/components/Label/__snapshots__/index.test.tsx.snap
  src/components/Dropdown/components/Label/index.test.tsx
  src/components/Dropdown/components/Label/index.tsx
  src/components/Dropdown/dropdown.module.css
  src/components/Dropdown/props.ts
Labels: enhancement, Dropdown component

#572 updated primitive tokens for red
  src/components/ThemeProvider/__tests__/__snapshots__/Ant.test.tsx.snap
  src/components/ThemeProvider/utils/__tests__/__snapshots__/themeToVariables.test.ts.snap
  src/themes/files/dark/primitives.json
  src/themes/files/dark/theme.json
  src/themes/files/light/primitives.json
  src/themes/files/light/theme.json
Labels: enhancement, breaking, ThemeProvider component

#573 feat(dropdown): cascading options
  .eslintrc.cjs
  src/components/Dropdown/Dropdown.stories.tsx
  src/components/Dropdown/Dropdown.test.tsx
  src/components/Dropdown/Dropdown.tsx
  src/components/Dropdown/dropdown.module.css
  src/components/Dropdown/props.ts
  src/setupTests.ts
Labels: enhancement, Dropdown component

#577 feat(Dropdown): add `onOpenChange` and `getPopupContainer` props
  package.json
  src/components/Dropdown/Dropdown.stories.tsx
  src/components/Dropdown/Dropdown.test.tsx
  src/components/Dropdown/Dropdown.tsx
  src/components/Dropdown/props.ts
Labels: enhancement, Dropdown component

#579 feat(dropdown): highlight selected items with initialSelectedItems and multiple highlight support
  src/components/Dropdown/Dropdown.stories.tsx
  src/components/Dropdown/Dropdown.test.tsx
  src/components/Dropdown/Dropdown.tsx
  src/components/Dropdown/__snapshots__/Dropdown.test.tsx.snap
  src/components/Dropdown/dropdown.module.css
  src/components/Dropdown/props.ts
Labels: enhancement, Dropdown component

#580 feat(Dropdown): add optional `Tag` at the end of menu items
  src/components/Dropdown/Dropdown.stories.tsx
  src/components/Dropdown/__snapshots__/Dropdown.test.tsx.snap
  src/components/Dropdown/components/Label/__snapshots__/index.test.tsx.snap
  src/components/Dropdown/components/Label/index.test.tsx
  src/components/Dropdown/components/Label/index.tsx
  src/components/Dropdown/dropdown.module.css
  src/components/Dropdown/props.ts
Labels: enhancement, Dropdown component

#587 fix: remove extra padding from button with icon only
  package.json
  src/components/Breadcrumb/__snapshots__/Breadcrumb.test.tsx.snap
  src/components/Button/Button.module.css
  src/components/Button/Button.stories.tsx
  src/components/Button/Button.tsx
  src/components/Button/__snapshots__/Button.test.tsx.snap
  src/components/Card/__snapshots__/Card.test.tsx.snap
  src/components/Dropdown/Dropdown.test.tsx
  src/components/Modal/__snapshots__/Modal.test.tsx.snap
  src/components/Table/__snapshots__/Table.test.tsx.snap
  yarn.lock
Labels: bug, Button component
