Repository mia-platform/design-system, pull requests merged in 2024-02, with the labels that each got.

#274 ci: group pr from dependabot
  .github/dependabot.yml
Labels: github_actions

#309 fix: updated README.md
  README.md
Labels: bug, documentation

#319 ci: fix storybook dependabot group
  .github/dependabot.yml
Labels: github_actions

#322 fix: indentation & style
  src/components/Card/Card.module.css
  src/components/Divider/Divider.props.ts
  src/components/Icon/Icon.props.ts
  src/components/Menu/Menu.props.ts
  src/components/Menu/Menu.types.ts
  src/components/SegmentedControl/SegmentedControl.props.ts
  src/components/Table/Table.props.ts
Labels: enhancement

#311 feat: export test utils
  src/components/Button/__snapshots__/Button.test.tsx.snap
  src/components/Card/__snapshots__/Card.test.tsx.snap
  src/components/Divider/__snapshots__/Divider.test.tsx.snap
  src/components/Menu/__snapshots__/Menu.test.tsx.snap
  src/components/Table/__snapshots__/Table.test.tsx.snap
  src/components/ThemeProvider/Ant.tsx
  src/components/Typography/BodyX/__snapshots__/BodyX.test.tsx.snap
  src/components/Typography/HX/__snapshots__/HX.test.tsx.snap
  src/index.ts
  src/test-utils.tsx
Labels: enhancement

#332 fix: Typography margin & Card header
  src/components/Card/Card.module.css
  src/components/Card/Card.tsx
  src/components/Card/__snapshots__/Card.test.tsx.snap
  src/components/FeedbackMessage/FeedbackMessage.stories.tsx
  src/components/Menu/Menu.module.css
  src/components/SegmentedControl/SegmentedControl.module.css
  src/components/Table/Table.module.css
  src/components/ThemeProvider/__tests__/__snapshots__/Ant.test.tsx.snap
  src/components/Typography/BodyX/BodyX.module.css
  src/components/Typography/BodyX/BodyX.stories.tsx
  src/components/Typography/HX/HX.stories.tsx
  src/components/Typography/Typography.mocks.tsx
  src/components/Typography/Typography.theme.ts
  src/hooks/useFeedbackMessage/useFeedbackMessage.props.ts
  src/hooks/useFeedbackMessage/useFeedbackMessage.test.tsx
  src/hooks/useFeedbackMessage/useFeedbackMessage.types.tsx
Labels: enhancement, Typography component, Card component

#333 fix: useFeedbackMessage methods returns a promise
  src/hooks/useFeedbackMessage/useFeedbackMessage.test.tsx
  src/hooks/useFeedbackMessage/useFeedbackMessage.tsx
  src/hooks/useFeedbackMessage/useFeedbackMessage.types.tsx
Labels: bug, FeedbackMessage component, hook

#340 ci: releaser refactor section
  .github/release.yml
Labels: github_actions
