Repository mia-platform/design-system, pull requests merged in 2024-09, with the labels that each got.

#594 fix(Modal): wrong css in modal footer-buttons
  src/components/Modal/Modal.module.css
Labels: bug, Modal component

#593 fixed fullscreen modal regression with antd 5.13->5.17 update
  src/components/Modal/Modal.module.css
Labels: bug, Modal component

#600 fix(modal): height issue due to antd version upgrade
  src/components/Modal/Modal.module.css
Labels: bug, Modal component

#604 chore(contributing): add PR naming and labelling conventions
  .github/pull_request_template.md
  CONTRIBUTING.md
Labels: documentation

#477 feat(icon): review icons bundle
  .eslintrc.cjs
  .github/workflows/test.yml
  .gitignore
  .storybook/preview.ts
  README.md
  icons/package.json
  package.json
  scripts/build-icons.ts
  src/assets/icons/MiaPlatform.svg
  src/assets/icons/MiaPlatformColored.svg
  src/assets/icons/icons.stories.mdx
  src/components/Breadcrumb/Breadcrumb.Collapsed.tsx
  src/components/Breadcrumb/Breadcrumb.Dropdown.tsx
  src/components/Breadcrumb/Breadcrumb.Separator.tsx
  src/components/Breadcrumb/Breadcrumb.mocks.tsx
  src/components/Button/Button.stories.tsx
  src/components/Button/Button.test.tsx
  src/components/Card/Card.mocks.tsx
  src/components/Card/Card.tsx
  src/components/Card/__snapshots__/Card.test.tsx.snap
  src/components/Drawer/Drawer.Title.tsx
  src/components/Drawer/Drawer.tsx
  src/components/FeedbackMessage/FeedbackMessage.stories.tsx
  src/components/Icon/Icon.props.ts
  src/components/Icon/Icon.stories.tsx
  src/components/Icon/Icon.test.tsx
  src/components/Icon/Icon.tsx
  src/components/Icon/__snapshots__/Icon.test.tsx.snap
  src/components/Icon/assets/MiaPlatform.svg
  src/components/Icon/assets/MiaPlatformColored.svg
  src/components/Menu/Menu.mocks.tsx
  src/components/Menu/__snapshots__/Menu.test.tsx.snap
  src/components/Modal/Modal.Body.tsx
  src/components/Modal/Modal.Title.tsx
  src/components/Modal/__snapshots__/Modal.test.tsx.snap
  src/components/SegmentedControl/SegmentedControl.mocks.tsx
  src/components/SegmentedControl/__snapshots__/SegmentedControl.test.tsx.snap
  src/components/Table/Table.mocks.tsx
  src/components/Table/Table.tsx
  src/components/Tree/Tree.stories.tsx
  src/components/Tree/Tree.test.tsx
  src/components/Typography/Typography.mocks.tsx
  src/hooks/useDrawer/useDrawer.test.tsx
  src/hooks/useModal/useModal.test.tsx
  tsconfig.json
  typings/index.d.ts
  vite.config.ts
  yarn.lock
Labels: Icon component, breaking

#609 fix(button): add css variable defaults to disabled state
  src/components/Button/Button.module.css
Labels: bug, Button component

#615 fix: icon type as ReactElement
  src/components/Icon/Icon.tsx
Labels: bug, Icon component

#616 fix: allows custom aria-label and fixed icon aria-labels that are minified in the DS bundle
  src/components/Breadcrumb/Breadcrumb.Collapsed.tsx
  src/components/Breadcrumb/Breadcrumb.Dropdown.tsx
  src/components/Breadcrumb/Breadcrumb.Separator.tsx
  src/components/Card/Card.tsx
  src/components/Drawer/Drawer.Title.tsx
  src/components/Drawer/Drawer.tsx
  src/components/Icon/Icon.props.ts
  src/components/Icon/Icon.test.tsx
  src/components/Icon/Icon.tsx
  src/components/Icon/__snapshots__/Icon.test.tsx.snap
  src/components/Modal/Modal.Body.tsx
  src/components/Modal/Modal.Title.tsx
  src/components/Table/Table.tsx
Labels: bug, Table component, Card component, Modal component, Icon component, Breadcrumb component, Drawer component

#619 fix(Modal): fixed title in aside in case of scrollable content
  src/components/Modal/Modal.Body.tsx
  src/components/Modal/Modal.mocks.tsx
  src/components/Modal/Modal.module.css
  src/components/Modal/Modal.stories.tsx
  src/components/Modal/__snapshots__/Modal.test.tsx.snap
Labels: bug, Modal component

#620 feat(Dropdown): including "selectable" prop, defaults to true
  src/components/Dropdown/Dropdown.stories.tsx
  src/components/Dropdown/Dropdown.test.tsx
  src/components/Dropdown/Dropdown.tsx
  src/components/Dropdown/__snapshots__/Dropdown.test.tsx.snap
  src/components/Dropdown/props.ts
Labels: enhancement, Dropdown component

#621 feat(Button): added download prop
  src/components/Button/Button.props.ts
  src/components/Button/Button.stories.tsx
  src/components/Button/Button.tsx
Labels: enhancement, Button component

#624 feat(Tooltip): added Tooltip component
  src/components/Tooltip/Tooltip.props.ts
  src/components/Tooltip/Tooltip.stories.tsx
  src/components/Tooltip/Tooltip.test.tsx
  src/components/Tooltip/Tooltip.tsx
  src/components/Tooltip/Tooltip.types.tsx
  src/components/Tooltip/index.tsx
  src/index.ts
Labels: enhancement, new component, Tooltip component

#625 fix(Modal): scrollbar position
  src/components/Modal/Modal.module.css
Labels: Modal component

#629 fix(Button): changed design token's schema for neutral buttons
  src/components/Button/Button.theme.ts
  src/components/ThemeProvider/__tests__/__snapshots__/Ant.test.tsx.snap
  src/components/ThemeProvider/utils/__tests__/__snapshots__/themeToVariables.test.ts.snap
  src/themes/files/dark/theme-generator.json
  src/themes/files/dark/theme.json
  src/themes/files/light/theme-generator.json
  src/themes/files/light/theme.json
  src/themes/schema/palette.ts
Labels: bug, breaking, Button component
