Repository mia-platform/design-system, pull requests merged in 2025-03, with the labels that each got.

#867 chore(date-pickers): fix mock date in tests
  package.json
  src/components/DatePickers/DatePicker/DatePicker.test.tsx
  src/components/DatePickers/RangePicker/RangePicker.test.tsx
  yarn.lock
Labels: DatePicker component, RangePicker component

#866 change: overflow scroll with auto
  src/components/Dropdown/Dropdown.tsx
Labels: bug, Dropdown component

#873 added: new prop maxTagCount & maxTagPlaceholder for select component
  src/components/Select/Select.stories.tsx
  src/components/Select/Select.test.tsx
  src/components/Select/Select.tsx
  src/components/Select/props.ts
Labels: enhancement, Select component

#877 fix(table): onChange prop type
  src/components/Table/Table.props.ts
Labels: Table component, typings

#885 feat(Modal): added modal onAfterClose prop
  src/components/Modal/Modal.props.ts
  src/components/Modal/Modal.test.tsx
  src/components/Modal/Modal.tsx
Labels: enhancement, Modal component

#884 fixed: css cardSelection, feat: export Form.useForm
  src/components/CardSelection/CardSelection.module.css
  src/components/Form/Form.stories.tsx
  src/components/Form/Form.test.tsx
  src/components/Form/Form.tsx
  src/components/Form/FormItem/FormItem.tsx
  src/components/Form/props.ts
Labels: bug, enhancement, CardSelection Component, FormItem component, Form component

#886 Fix: MiImport & MiExport custom icon colors
  src/assets/icons/Export.svg
  src/assets/icons/Import.svg
Labels: bug, Icon component

#887 added: export of useFormInstance hook
  src/components/Form/Form.tsx
Labels: enhancement, FormItem component, Form component
