Repository mia-platform/design-system, pull requests merged in 2025-01, with the labels that each got.

#783 Feat(Tag): Added chip variant and fixed default colors styles
  src/components/Dropdown/components/Label/__snapshots__/index.test.tsx.snap
  src/components/Feedback/__snapshots__/Feedback.test.tsx.snap
  src/components/Select/select.module.css
  src/components/Tag/Tag.module.css
  src/components/Tag/Tag.props.ts
  src/components/Tag/Tag.stories.tsx
  src/components/Tag/Tag.test.tsx
  src/components/Tag/Tag.tsx
  src/components/Tag/__snapshots__/Tag.test.tsx.snap
  src/components/Tag/types.ts
Labels: enhancement, Tag component

#784 fix(Form): Added autoFocus prop on the components used as form fields
  src/components/BaseInput/props.ts
  src/components/Checkbox/Checkbox.tsx
  src/components/Checkbox/props.ts
  src/components/Input/Input.tsx
  src/components/InputNumber/InputNumber.tsx
  src/components/Search/Search.tsx
  src/components/Select/Select.tsx
  src/components/TextArea/TextArea.tsx
Labels: enhancement, Input component, Select component, Search component, Checkbox component

#785 fit parent height table
  src/components/Table/Table.module.css
  src/components/Table/Table.props.ts
  src/components/Table/Table.stories.tsx
  src/components/Table/Table.test.tsx
  src/components/Table/Table.tsx
  src/components/Table/__snapshots__/Table.test.tsx.snap
Labels: enhancement, Table component

#786 fix unresolved icon
  src/assets/icons/icons.stories.mdx
Labels: bug, Storybook

#792 feat(components): Add onBlur prop to Input and TextArea components
  src/components/Input/Input.test.tsx
  src/components/Input/Input.tsx
  src/components/Input/props.ts
  src/components/TextArea/TextArea.tsx
  src/components/TextArea/props.ts
Labels: enhancement, Input component

#793 Fix(TextArea): fix autoSize
  src/components/TextArea/TextArea.tsx
Labels: bug, Input component

#794 Fix(Form): change initialValues prop type
  src/components/Form/props.ts
Labels: bug

#807 feat: readonly form item render
  src/components/Form/FormItem/FormItem.stories.tsx
  src/components/Form/FormItem/FormItem.test.tsx
  src/components/Form/FormItem/FormItem.tsx
  src/components/Form/props.ts
Labels: enhancement, FormItem component

#817 feat(SplitButton): add onOpenChange prop
  package.json
  src/components/SplitButton/SplitButton.test.tsx
  src/components/SplitButton/SplitButton.tsx
  src/components/SplitButton/props.ts
Labels: SplitButton Component
