Repository mia-platform/design-system, pull requests merged in 2025-02, with the labels that each got.

#816 Feat(Badge): Added hasMultilineDescription prop to badge
  src/components/Badge/Badge.props.ts
  src/components/Badge/Badge.stories.tsx
  src/components/Badge/Badge.test.tsx
  src/components/Badge/Badge.tsx
  src/components/Badge/__snapshots__/Badge.test.tsx.snap
Labels: enhancement, Badge component

#828 breaking(date-pickers): changed showtime prop to allow to set default…
  src/components/DatePickers/DatePicker/DatePicker.stories.tsx
  src/components/DatePickers/DatePicker/DatePicker.test.tsx
  src/components/DatePickers/DatePicker/DatePicker.tsx
  src/components/DatePickers/RangePicker/RangePicker.stories.tsx
  src/components/DatePickers/RangePicker/RangePicker.test.tsx
  src/components/DatePickers/RangePicker/RangePicker.tsx
  src/components/DatePickers/props.ts
  src/components/DatePickers/types.ts
  src/components/DatePickers/utils.ts
  src/components/RangePicker/RangePicker.stories.tsx
Labels: breaking, DatePicker component, RangePicker component

#832 fix(design-token): changed changed coloBorder token
  src/components/Input/input.module.css
  src/components/ThemeProvider/Ant.tsx
  src/components/ThemeProvider/__tests__/__snapshots__/Ant.test.tsx.snap
Labels: bug, ThemeProvider component

#834 enhancement(dropdown): added disabled prop for dropdown item
  src/components/Dropdown/Dropdown.stories.tsx
  src/components/Dropdown/Dropdown.test.tsx
  src/components/Dropdown/Dropdown.tsx
  src/components/Dropdown/components/Label/index.tsx
  src/components/Dropdown/dropdown.module.css
  src/components/Dropdown/props.ts
Labels: enhancement, Dropdown component

#840 Fix(Checkbox + Radio): Minor style fixes on checkbox and radio components
  src/components/CardSelection/CardSelection.module.css
  src/components/Checkbox/checkbox.module.css
  src/components/CheckboxGroup/CheckboxGroup.module.css
  src/components/RadioGroup/RadioGroup.module.css
  src/components/RadioGroup/components/Radio/index.module.css
Labels: enhancement, RadioGroup Component, Checkbox component, CheckboxGroup component, CardSelection Component, Radio component

#844 feat(icons): added icons from svg
  src/assets/icons/Branch.svg
  src/assets/icons/CloudGear.svg
  src/assets/icons/Dashboard.svg
  src/assets/icons/icons.stories.mdx
Labels: Icon component

#845 feat(icons): added FileGear Icon from svg
  src/assets/icons/FileGear.svg
  src/assets/icons/icons.stories.mdx
Labels: Icon component

#846 fix(tag component): fixed color design-tokens
  src/components/Tag/Tag.module.css
Labels: bug, Tag component

#848 feat(icons): added icons from svg
  src/assets/icons/BracesCurvy.svg
  src/assets/icons/ReplicasGear.svg
  src/assets/icons/icons.stories.mdx
Labels: enhancement, Icon component

#855 fix(tag): fixed wrong design-tokens
  src/components/Tag/Tag.module.css
Labels: bug, Tag component

#854 feat(icons): added-svg-icons
  src/assets/icons/CubeGear.svg
  src/assets/icons/Marketplace.svg
  src/assets/icons/Webhook.svg
  src/assets/icons/icons.stories.mdx
Labels: enhancement, Icon component

#858 feat(Table): prevent table remount on load
  src/components/Form/FormItem/FormItem.test.tsx
  src/components/Table/Table.props.ts
  src/components/Table/Table.tsx
  src/components/Table/__snapshots__/Table.test.tsx.snap
Labels: bug, Table component, breaking
