Repository mia-platform/design-system, pull requests merged in 2025-04, with the labels that each got.

#899 Added the possibility to change the body color
  src/components/Typography/BodyX/BodyL/index.tsx
  src/components/Typography/BodyX/BodyM/index.tsx
  src/components/Typography/BodyX/BodyS/index.tsx
  src/components/Typography/BodyX/BodyX.module.css
  src/components/Typography/BodyX/BodyX.props.ts
  src/components/Typography/BodyX/BodyX.tsx
  src/components/Typography/BodyX/BodyX.types.ts
Labels: enhancement, Typography component

#903 changed(): description color to checkbox, radio and switch
  src/components/Checkbox/Checkbox.tsx
  src/components/CheckboxGroup/__snapshots__/CheckboxGroup.test.tsx.snap
  src/components/RadioGroup/__snapshots__/RadioGroup.test.tsx.snap
  src/components/RadioGroup/components/Radio/__snapshots__/index.test.tsx.snap
  src/components/RadioGroup/components/Radio/index.tsx
  src/components/Switch/Switch.tsx
  src/components/Typography/BodyX/BodyX.types.ts
Labels: Switch component, RadioGroup Component, Checkbox component, CheckboxGroup component, Radio component

#906 feat(Select): add optionRender props to select component
  src/components/Select/Select.stories.tsx
  src/components/Select/Select.test.tsx
  src/components/Select/Select.tsx
  src/components/Select/props.ts
Labels: enhancement, Select component

#915 feat(Table): support custom action button with label and primary layout
  src/components/Table/Table.Action.tsx
  src/components/Table/Table.stories.tsx
  src/components/Table/Table.test.tsx
  src/components/Table/Table.types.ts
  src/components/Table/__snapshots__/Table.test.tsx.snap
Labels: enhancement, Table component
